<div th:fragment="buy-order-table">
    <table class="data-table w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 shadow drop-shadow-sm">
            <tr>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    P-O ID
                </th>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    Product Name
                </th>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    Order Amount
                </th>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    Order Date
                </th>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    Supplier
                </th>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Edit Order
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}" class="bg-white border-b hover:bg-gray-50">
                <td th:text="${order.id}" class="px-6 py-4"></td>
                <th th:text="${order.getProduct().name}" scope="row" class="px-6 py-4 font-medium text-gray-700"></th>
                <td th:text="${order.formattedQuantity}" class="px-6 py-4"></td>
                <td th:text="${'₱' + order.formattedTotalAmount}" class="px-6 py-4"></td>
                <td th:text="${order.formattedOrderDate}" class="px-6 py-4"></td>
                <td th:text="${order.supplier.name}" class="px-6 py-4"></td>
                <th th:if="${order.status == 'Cancelled'}" th:title="'Reason: ' + ${order.cancelOrderReason}" th:text="${order.status}" class="text-[#DA3E33] font-medium px-6 py-4"></th>
                <th th:if="${order.status != 'Cancelled'}"  th:classappend="${order.status == 'Received' ? '!text-[#10A760]' : order.status == 'Pending' ? '!text-[#E7C833]' : 'text-[#E19133]'}" th:text="${order.status}" class="font-medium px-6 py-4"></th>
                
                <td class="px-6 py-4">
                    <div class="flex flex-row items-center justify-center gap-3 h-full">
                        <a th:if="${order.status == 'Pending'}" th:href="@{/buy-order/edit-order/{id}(id=${order.id})}" class="shadow text-sm bg-[#1366D9] px-3 py-1 text-white rounded-lg border border-[#1366D9] transition-colors duration-300 hover:bg-transparent hover:text-[#1366D9]">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a> 
                        <span th:if="${order.status != 'Pending' && order.status != 'Cancelled'}">N/A</span> 
                        <button th:if="${order.status == 'Pending'}" th:id="'cancelBuyOrderButton' + ${order.id}" type="button" data-th-attr="data-modal-target='cancelBuyOrderModal' + ${order.id}, data-modal-toggle='cancelBuyOrderModal' + ${order.id}" class="shadow text-sm bg-red-500 px-3 py-1 text-white rounded-lg border border-red-500 transition-colors duration-300 hover:bg-transparent hover:text-red-600">
                            <span style="display: inline-block; font-size: 14px;">–</span>
                        </button>
                        <button th:if="${order.status == 'Cancelled'}" th:id="'deleteBuyOrderButton' + ${order.id}" type="button" data-th-attr="data-modal-target='deleteBuyOrderModal' + ${order.id}, data-modal-toggle='deleteBuyOrderModal' + ${order.id}" class="shadow text-sm bg-red-500 px-3 py-1 text-white rounded-lg border border-red-500 transition-colors duration-300 hover:bg-transparent hover:text-red-600">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div>
                </td> 
                <div th:replace="fragments/cancellation-confirmation-buy-order-modal ::  cancellation-confirmation-buy-order-modal"></div>
                <div th:replace="fragments/deletion-confirmation-buy-order-modal ::  deletion-confirmation-buy-order-modal"></div>
                <div th:replace="fragments/back-order-confirmation-modal ::  back-order-confirmation-modal(order=${order})"></div>
                <div th:replace="fragments/bad-order-confirmation-modal ::  bad-order-confirmation-modal(order=${order})"></div>                                                              
            </tr>
        </tbody>
    </table>
</div>