<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head> 
    <title>Product Categories List | IMS</title> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" th:href="@{/css/output.tailwind.css}">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/data-tables.css}">
    <link rel="stylesheet" th:href="@{/css/other-styles.css}">
</head>
    <body class="bg-[#F0F1F3]">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="container" class="p-4 lg:ml-64">
            <div class="p-2">
                <div class="flex py-3 mt-6 lg:mt-10 overflow-x-auto whitespace-nowrap font-montserrat" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center rtl:space-x-reverse">
                        <li class="inline-flex items-center">
                            <img class="mr-1" th:src="@{/images/inventory-icon.png}" alt="Inventory Icon">
                            <span class="text-sm text-[#667085]">Inventory</span>
                            <span class="text-[#667085] mx-2">/</span>
                        </li>
                        <li>
                            <a href="/inventory/categories" class="hover:underline text-sm font-medium text-[#1366D9]">Product Categories List</a>
                        </li>
                    </ol>
                </div>
                <div th:if="${message}" class="relative my-4">
                    <div id="alert" class="absolute w-fit flex items-center p-3 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 transition-opacity duration-500 ease-out" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <span th:text="${message}"></span>
                        <button type="button" class="ml-4 bg-green-800 text-white rounded-lg focus:ring-2 p-1.5 border border-green-800 transition-colors duration-300 ease-in-out flex items-center justify-center h-[1.3rem] w-[1.3rem] hover:bg-transparent hover:text-green-600" onclick="closeAlert()">
                            <span class="sr-only">Close</span>
                            <svg class="w-[0.70rem] h-[0.70rem]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div th:if="${errorMessage}" class="relative my-4">
                    <div id="alert" class="absolute w-fit flex items-center p-3 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 transition-opacity duration-500 ease-out" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <span th:text="${errorMessage}"></span>
                        <button type="button" class="ml-4 bg-red-800 text-white rounded-lg focus:ring-2 p-1.5 border border-red-800 transition-colors duration-300 ease-in-out flex items-center justify-center h-[1.3rem] w-[1.3rem] hover:bg-transparent hover:text-green-600" onclick="closeAlert()">
                            <span class="sr-only">Close</span>
                            <svg class="w-[0.70rem] h-[0.70rem]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div th:if="${!categories.empty}">
                    <div class="flex flex-wrap gap-4 items-center justify-between mb-6 mt-3 mx-[.4rem]">
                        <div class="flex gap-3">
                            <div class="flex items-center gap-2">
                                <h1 class="text-gray-700 font-medium text-xl">Product Categories</h1> 
                                <button id="help-icon" class="mt-[2px] text-orange-500 cursor-pointer">
                                    <i class="fa-solid fa-question-circle"></i>
                                </button>
                            </div>   
                            
                            <div id="tooltip" class="hidden p-3 w-fit bg-orange-100 border border-orange-300 text-xs text-gray-700 rounded-lg">
                                <p><strong>Categories with products cannot be deleted. Only empty categories are removable.</strong></p>
                            </div>                            
                        </div>                        
                        <div>
                            <button onclick="exportToExcel()" class="hidden lg:block text-sm bg-[#1366D9] shadow px-3 py-1 text-white rounded-lg border border-[#1366D9] transition-colors duration-300 hover:bg-transparent hover:text-[#1366D9]">
                                <i class="fa-solid fa-file-export"></i> Export
                            </button>  
                        </div>      
                    </div>
                    <div th:replace="/inventory/product-categories-table :: product-categories-table"></div>
                    <div th:replace="fragments/deletion-confirmation-product-category-modal :: deletion-confirmation-product-category-modal"></div>
                </div>
                <div th:if="${categories.empty}" class="mt-10 flex flex-col lg:flex-row justify-center items-center">
                    <img src="/images/empty.png" class="w-[24rem] h-auto" alt="Empty Image">
                    <div class="flex flex-col gap-3 items-center">
                        <h2 class="text-center font-semibold text-3xl text-gray-700 mb-2">Oops! No Product Categories Available</h2>
                        <p class="text-center text-[#667085] text-base mb-4">
                            It seems like there are no product categories to display. <br> Start by adding new product categories.
                        </p>
                        <a class="text-sm bg-[#1366D9] w-fit shadow px-3 py-1 text-white rounded-lg border border-[#1366D9] transition-colors duration-300 hover:bg-transparent hover:text-[#1366D9]" href="/inventory/add-product-category">
                            <i class="fa-solid fa-plus"></i> Add New Product Category
                        </a>
                    </div>
                    
                </div>
            </div>    
        </div>
        <div th:replace="fragments/chatbot-faq :: chatbot-faq"></div> 
    </body>
    <script th:src="@{/js/chatbot-faq.js}"></script>
    <script th:src="@{/js/tooltip.js}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
    <script th:src="@{/js/toggle-description.js}"></script> 
    <script>
        $('.data-table').DataTable();
        document.addEventListener("DOMContentLoaded", function(event) {
            const deleteButtons = document.querySelectorAll('[id^="deleteProductCategoryButton"]');

            deleteButtons.forEach(button => {
                button.addEventListener('click', function() {

                    const itemId = this.id.replace('deleteProductCategoryButton', '');
                    const modalId = 'deleteProductCategoryModal' + itemId; 
                    const modal = document.getElementById(modalId); 

                    if (modal) {
                        modal.classList.remove('hidden'); 
                        modal.classList.add('flex');

                        // Add event listeners for closing the modal
                        const closeModalButtons = modal.querySelectorAll('[data-modal-toggle]');
                        closeModalButtons.forEach(closeButton => {
                            closeButton.addEventListener('click', function() {
                                modal.classList.add('hidden'); 
                            });
                        });
                    } else {
                        console.error(`Modal with ID '${modalId}' not found.`);
                    }
                });
            });
        });
    function closeAlert() {
            const alert = document.getElementById("alert");
            alert.style.transition = "opacity 0.5s ease, max-height 0.5s ease";
            alert.style.opacity = "0";
            alert.style.maxHeight = "0";
            setTimeout(() => alert.style.display = "none", 500);
        }
        async function exportToExcel() {
            const response = await fetch('/inventory/categories/data');
            const data = await response.json();

            const today = new Date();
            const formattedDate = today.toISOString().split('T')[0];

            const rows = data.map(category => [
                category.id.toString(),
                category.name,
                category.description ? category.description : "N/A",
            ]);

            rows.unshift(
                [`Product Categories - Date: ${formattedDate}`],
                ["CATEGORY ID", "NAME", "DESCRIPTION"]
            );

            const worksheet = XLSX.utils.aoa_to_sheet(rows);
            const workbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(workbook, worksheet, "Product Categories");

            const columnWidths = rows[1].map((header, i) => { 
                const maxLength = Math.max(
                    header.length,
                    ...rows.slice(2).map(row => row[i]?.toString().length || 0) 
                );
                return { wch: maxLength + 2 };
            });
            worksheet['!cols'] = columnWidths;

            XLSX.writeFile(workbook, "Product_Categories_Data.xlsx");
        }
    </script>
</html>