<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head> 
    <title>Edit Supplier | IMS</title> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" th:href="@{/css/output.tailwind.css}">
    <link rel="stylesheet" th:href="@{/css/data-tables.css}">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/other-styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> 
</head>
    <body class="bg-[#F0F1F3]">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="container" class="p-4 lg:ml-64">
            <div class="p-2">
                <div class="flex py-3 mt-6 lg:mt-10 overflow-x-auto whitespace-nowrap font-montserrat" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center rtl:space-x-reverse">
                        <li class="inline-flex items-center">
                            <img class="mr-1" th:src="@{/images/suppliers-icon.png}" alt="Supplier Icon">
                            <span class="text-sm text-[#667085]">Suppliers</span>
                            <span class="text-[#667085] mx-2">/</span>
                        </li>
                        <li>
                            <a href="/suppliers/list" class="hover:underline text-sm text-[#667085]">Suppliers List</a>
                        </li>
                        <span class="text-[#667085] mx-2">/</span>
                        <li>
                            <a th:href="@{/suppliers/edit-supplier/{id}(id=${supplier.id})}" class="hover:underline text-sm font-medium text-[#1366D9]">Edit Supplier</a>
                        </li>
                    </ol>
                </div>
                <div class="max-w-[60rem] mx-auto mt-10 bg-white drop-shadow-sm p-8 px-12 rounded-md">
                    <form th:action="@{/suppliers/edit-supplier/{id}(id=${supplier.id})}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="flex flex-wrap gap-3 items-center justify-between mb-6">
                            <h1 class="text-gray-700 text-lg">Edit Supplier ID - <b th:text="${supplier.id}"></b></h1>
                            <div class="space-x-4">
                                <button class="text-sm bg-[#10A760] shadow px-3 py-1 text-white rounded-lg border border-[#10A760] transition-colors duration-300 hover:bg-transparent hover:text-green-600">
                                    Submit
                                </button>
                                <a href="/suppliers/list" class="text-sm bg-red-500 shadow px-3 py-1 text-white rounded-lg border border-red-500 transition-colors duration-300 hover:bg-transparent hover:text-red-600">
                                    Cancel
                                </a>                        
                            </div>            
                        </div>
                        <div class="flex flex-col items-center justify-between gap-10">
                            <div class="flex flex-col xl:flex-row mt-4 gap-20 w-full">
                                <div class="space-y-6 relative w-full lg:w-[40%] mx-auto">
                                    <h3 class="text-gray-700 font-medium text-base">General Info</h3>
                                    <div class="grid grid-cols-2 lg:grid-cols-1 gap-6">
                                        <div class="relative">
                                            <input th:value="${supplier.name}" type="text" name="name" id="name" class="block px-2.5 pb-2 pt-3 w-full text-sm text-gray-700 bg-transparent rounded-lg border border-[#D0D5DD] focus:outline-none focus:ring-0 focus:border-[#1366D9] peer" placeholder="" autocomplete="off" required aria-label="Name" />
                                            <label for="name" class="absolute text-sm text-[#667085] duration-75 rounded-3xl bg-white mx-1 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] px-2 peer-focus:px-2 peer-focus:text-[#1366D9] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4">Name</label>
                                        </div>
                                        <div class="relative">
                                            <input th:value="${supplier.contactNumber}" type="text" name="contactNumber" id="contactNumber" class="block px-2.5 pb-2 pt-3 w-full text-sm text-gray-700 bg-transparent rounded-lg border border-[#D0D5DD] focus:outline-none focus:ring-0 focus:border-[#1366D9] peer" placeholder="" autocomplete="off" required aria-label="Contact Number" />
                                            <label for="contactNumber" class="absolute text-sm text-[#667085] duration-75 rounded-3xl bg-white mx-1 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] px-2 peer-focus:px-2 peer-focus:text-[#1366D9] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4">Contact Number</label>
                                        </div>
                                        <div class="relative">
                                            <input th:value="${supplier.contactPerson}" type="text" name="contactPerson" id="contactPerson" class="block px-2.5 pb-2 pt-3 w-full text-sm text-gray-700 bg-transparent rounded-lg border border-[#D0D5DD] focus:outline-none focus:ring-0 focus:border-[#1366D9] peer" placeholder="" autocomplete="off" required aria-label="Contact Person" />
                                            <label for="contactPerson" class="absolute text-sm text-[#667085] duration-75 rounded-3xl bg-white mx-1 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] px-2 peer-focus:px-2 peer-focus:text-[#1366D9] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4">Contact Person</label>
                                        </div>
                                        <div class="relative">
                                            <input th:value="${supplier.address}" type="text" name="address" id="address" class="block px-2.5 pb-2 pt-3 w-full text-sm text-gray-700 bg-transparent rounded-lg border border-[#D0D5DD] focus:outline-none focus:ring-0 focus:border-[#1366D9] peer" placeholder="" autocomplete="off" required aria-label="Address" />
                                            <label for="address" class="absolute text-sm text-[#667085] duration-75 rounded-3xl bg-white mx-1 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] px-2 peer-focus:px-2 peer-focus:text-[#1366D9] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4">Address</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-4">
                                    <h3 class="text-gray-700 font-medium text-base">Select Products</h3>
                                    <table class="data-table w-full text-sm text-left rtl:text-right text-gray-500">
                                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 shadow drop-shadow-sm">
                                            <tr>
                                                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                                                    Select
                                                </th>
                                                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                                                    Product Id
                                                </th>
                                                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                                                    Product Name
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="product : ${availableProducts}" class="bg-white border-b hover:bg-gray-50">
                                                <td class="px-6 py-4">
                                                    <input type="checkbox" name="productsProvided[]" th:checked="${supplier.productsProvided.contains(product.name)}" class="rounded-lg" th:value="${product.name}">
                                                </td>
                                                <td th:text="${product.id}" class="px-6 py-4"></td>
                                                <th th:text="${product.name}" scope="row" class="px-6 py-4 font-medium text-gray-700"></th>                      
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
        <div th:replace="fragments/chatbot-faq :: chatbot-faq"></div>
    </body>
    <script th:src="@{/js/chatbot-faq.js}"></script>
    <script th:src="@{/js/tooltip.js}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
    <script th:src="@{/js/toggle-products.js}"></script>   
    <script>
        $('.data-table').DataTable();
    </script>
</html>