<div th:fragment="product-quantities-table">
    <table class="data-table w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 shadow drop-shadow-sm">
            <tr>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    Product ID
                </th>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    Product Name
                </th>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}" class="bg-white border-b hover:bg-gray-50">
                <td th:text="${product.id}" class="px-6 py-4"></td>
                <td th:text="${product.name}" class="px-6 py-4"></td>       
                <th th:text="${product.quantity}" scope="row" class="px-6 py-4 font-medium text-gray-700"></th>
            </tr>
        </tbody>
    </table>
</div>